<?xml version="1.0" encoding="UTF-8"?>
  <plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-nslookup"
    version="0.1.0">
    <name>Nslookup</name>
    <description>Cordova Nslookup Plugin</description>
    <license>MIT</license>
    <keywords>cordova,nslookup</keywords>
    <repo>https://github.com/hsccorp/cordova-dnsjava-nslookup.git</repo>
    <issue>https://https://github.com/hsccorp/cordova-dnsjava-nslookup/issues</issue>

    <js-module src="www/nslookup.js" name="nslookup">
      <clobbers target="NsLookup" />
    </js-module>

    <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Nslookup">
          <param name="android-package" value="org.hsc.cordova.nslookup.Nslookup"/>
        </feature>
      </config-file>
      <source-file src="src/android/libs/dnsjava-2.1.7.jar" target-dir="libs" />
      <source-file src="src/android/Nslookup.java" target-dir="src/org/hsc/cordova/nslookup"/>
    </platform>
    
    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Nslookup">
                <param name="ios-package" value="CDVNslookup" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/CDVNslookup.h" />
        <source-file src="src/ios/CDVNslookup.m" />
    </platform>
  </plugin>
